@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BuscarCoordinador";
    Layout = "_LayoutCOOR";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>BUSCAR COORDINADOR</h1>
        </div>
        <div class="col">
            <br />
            <a href="/Administrador/Login" style="color:hotpink"><h4 class="text-right">Cerrar sesión</h4></a>
        </div>
    </div>
</div>
<br />

<section class="login-block">
    <div class="container">
        <div class="col">
            <br />
            <center>
                <h4>Buscar Coordinador</h4>

                <input type="text"
                       class="form-control col-sm-3" id="Buscarcoordinadortxt" placeholder="Ingresar coordinador"
                       name="Buscar Coordinador">
                <br />
                <button type="button" class="btn" style="background-color:coral">Buscar Coordinador</button>

            </center>

        </div>
        <br />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Género</th>
                <th>Documento</th>
                <th>Programa</th>
                <th>Rol</th>
                <th>Correo electrónico</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br />
    </div>
</section>
