@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "EliminarUsuario";
    Layout = "_LayoutADMON";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>ELIMINAR USUARIO</h1>
        </div>
        <div class="col">
            <br />
            <a href="/Administrador/Login" style="color:hotpink"><h4 class="text-right">Cerrar sesión</h4></a>
        </div>
    </div>
</div>

<br />

<section class="login-block">
    <div class="container">
        <div class="col">
            <br />
            <center>
                <h4>Eliminar Usuario</h4>

                <input asp-for="NumeroDocumento" type="text"
                       class="form-control col-sm-3" id="eliminarusuariotxt" placeholder="Ingresar usuario">
                <br />
                <button type="button" class="btn" style="background-color:coral">Eliminar Usuario</button>

            </center>

        </div>
        <br />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Género</th>
                <th>Documento</th>
                <th>Programa</th>
                <th>Rol</th>
                <th>Correo electrónico</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br />
    </div>
</section>
